body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #F22828 0%, #fe6b6b 100%);
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

#productContainer {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 21px;
grid-row-gap: 21px;
text-align: center;
}

#productContainer img {
  height: 300px;
  width: 300px;
}

#productContainer input {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
  background-color: #6b0000;
<<<<<<< HEAD
  cursor: pointer;
=======

}
input:hover{
    background-color: #7b0000;
>>>>>>> 6b32a5f7bf43b20e9ca122f7542b3a2b430d0194
}

#pepperoniPizza {
  grid-column: 1;
  grid-row: 1;
}

/* Navigation style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul {
  justify-content: flex-start;
}

li {
  float: left;
}

li a {
  font-family: Arial, Helvetica, sans-serif !important;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: 'Jura';
}


li a:hover {
  background-color: white;
  color: #ff0335;
  transition: 1s;

}

/*Navigation on the right side (see more) */

.hamburger-menu {
  float: right;
}
