body {
    text-align: center;
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #bb0000 0%, #922929 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
/*test*/

h1 {
    color: #fff;
    margin-left: 15px;
    font-size: 2rem;
    padding: 20px;
}

table {
    margin-left: 400px  ;
    list-style: none;
    padding: 0;
    background: linear-gradient(180deg, #f97f7f 0%, #c32d2d 100%);
    border: none;
    padding: 15px;
    border-radius: 10px;
}
tr{


    margin: 5px 0;
}
th {
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    background-color: #000000;
}
