body {
    margin: 0;
    height: 100vh;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

h1 {
    color: black;
    margin-left: 15px;
    font-size: 2rem;
    padding: 20px;
    border-bottom: 2px solid #fff;
}

<<<<<<< HEAD
table {
=======
li {
>>>>>>> 68e9a086ec72d0e36d20e257055cba5e569f88fd
    list-style: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #bb0000 0%, #922929 100%);
    border: 2px solid #ffffff;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
tr{

<<<<<<< HEAD
    margin: 5px 0;
}
th {
    margin: 5px 0;

}

=======
>>>>>>> 68e9a086ec72d0e36d20e257055cba5e569f88fd
a {
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    background-color: #777;
}
